.form {
  font-size: 18px;
  border-radius: 20px;
  background-color: #c8cbd1;
  /* background-color: #003865; */
  /* color: #E87722; */
  color: #003865;
  box-shadow: 1px 4px 5px #999;
  padding: 30px 50px 30px 50px;
  margin: 20px 10px 20px 10px;
}
