.SearchResults {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

#course {
  font-family: Montserrat;
  color: black;
  border-radius: 20px;
  background-color: #8498ba;
  padding: 15px;
  margin: 20px 10px 20px 10px;
}
