.SearchResults .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.SearchResults .header Button {
  height: 50px;
  width: 50px;
}

.SearchResults .results {
  font-size: 18px;
  border-radius: 20px;
  background-color: #c8cbd1;
  color: #003865;
  box-shadow: 1px 4px 5px #999;
  padding: 30px 50px 30px 50px;
  margin: 20px 10px 20px 10px;
}

.SearchResults .allCourses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchResults .allCourses .course {
  display: inline-block;
  flex-direction: column;
  font-family: Montserrat;
  /* width: 650px; */
  width: 65%;
  /* min-width: 500px;
  max-width: 650px; */
  color: black;
  border-radius: 20px;
  background-color: #8498ba;
  padding: 15px;
  margin: 20px 10px 20px 10px;
}

.SearchResults .extra {
  font-family: Montserrat;
  color: black;
  border-radius: 20px;
  background-color: #d7dae1;
  padding: 15px;
  margin: 20px 10px 20px 10px;
}
